extends layout

block content
    div.container(ng-controller="EdhCtrl")
        form.form
            label(for="search") 搜尋：
            input(type="text", ng-model="search", id="search")
            ＊直接輸入你要搜尋的字串，會在所有欄位中搜尋
        table.table.table-hover
            h2 本表由巴哈姆特的Shilen、PTT的Cycefa(同一人)整理
            tr
                th 分類
                th 顏色
                th Card Name
                th 卡片名稱
                th 費用
                th 攻/防
                th 類別1
                th 功能
                th 分數
                th 個人評價
            tr(ng-repeat="row in edh|filter:search")
                td {{ row['分類'] }}
                td {{ row['顏色'] }}
                td: a(mtglink, href="{{row['連結']}}") {{row['Card Name']}}
                td: a(mtglink, href="{{row['連結']}}") {{row['卡片名稱']}}
                td {{row['費用']}}
                td {{row['攻防']}}
                td {{row['類別1']}}
                td {{row['功能']}}
                td {{row['分數']}}
                td {{row['個人評價']}}
