extends layout

block content
    div.container(ng-controller="RepairCtrl")
        div.row
            div.col-sm-9
                div.row
                    div.col-sm-6
                        div.well
                            h2 something here
                            form(action="/customer/add", method="post")
                                input.form-control(type="text", placeholder="姓名")
                                input.form-control(type="text", placeholder="電話")
                                input.form-control(type="text", placeholder="地址")
                                button.btn.btn-primary.btn-block 送出
                    div.col-sm-6
                        div.well
                            h2 someone like you
            div.col-md-3
                div.well
